.banner {
  position: relative;
}

.banner-img {
  width: 100%;
  max-height: 500px;
  height: 100%;
  object-fit: cover;
  object-position: 50% 48%;
}

.banner_title {
  margin: auto;
  font-family: 'Zen Dots', sans-serif;
  font-size: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 77, 1) 0%,
    rgb(255, 213, 0) 50%,
    rgb(25, 173, 3) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00000000;
  height: 40px;
}

.banner_switch {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 77, 0.5) 0%,
    rgb(255, 213, 0.5) 50%,
    rgb(25, 173, 0.5) 100%
  );
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0;
}

.carousel {
  filter: brightness(0.5) !important;
}

.carousel-item.active {
  padding-top: 0 !important;
}

.darkmode-button {
  position: absolute;
  /* bottom: 1%; */
  top: 10%;
  right: 2%;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
